.customer-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 80vh;
  overflow-y: auto;
}

.coach-menu-customer-photo {
  width: 100%;
  height: auto;
}

.selected-customer {
  border: 1px solid blue;
}

.table-container-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
}
