.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.sign-in-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.sign-in-form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  height: 3rem;
}
